*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

}

.container{
  background-color: rgb(29, 29, 66)!important;
  text-align: center;
  width: 50%;
  border-radius: 20px;
  align-self: center;
  top: -50%;
  left: 50%;
  transform: translate(50%, 50%);
}
.new-item-form{
  display:flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-row{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: rem;
  font-size:large ;
}
.item{
  margin-top:1rem ;
  font-size: xx-large;
  color: greenyellow;
}
.btn{
  background: rgb(6, 6, 236);
  border: 1px solid ;
  color:wheat;
  padding: 0.5rem 1em;
  border-radius: 30px;
  margin-left: 25px;
  margin-right: 1em;


}
.btn-danger{
  background:rgb(236, 77, 77);
  border: 1px solid ;
  color:wheat;
  padding: 0.5rem 1em;
  border-radius: 30px;
  margin-left: 25px;
}

#item{
  padding: 0.8rem 0.5rem;
  border-radius: 20px;
}
.list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: large;
  color: aqua;
  margin-left: 1rem;
}